.community-guide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > section {
        flex: 0 0 48%;
    }

    &__magnet {
        
    }

    &__subscribe {
        .form {
            display: flex;
            flex-direction: column;

            .fieldset {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                & > * {
                    flex: 0 0 100%;
                }

                & > input[type=text], & > input[type=email] {
                    margin: 5px 0;
                }

                &__checkbox {
                    label {
                        margin-left: 5px;
                    }
                }
            }

            .submit {
                margin: 10px 0;
                width: 100%;
                display: block;
                max-width: unset;

                &:hover {
                    color: white;
                    background-color: $color-yellow;
                }
            }
        }
    }
}