.join-us {
    .content-wrapper {
        background-color: $color-white;
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;
        max-width: 90%;

        &--header,
        &--accordion {
            flex: 0 0 100%;
        }

        &--header {
            text-align: center;
            margin: 0px 0px 25px;
        }

        &--accordion {
            background-color: white;
            padding: 15px;
            border: 3px solid $color-yellow;

            .answer {
                padding: 5px 15px;
            }
        }
    }
}
